
<!--form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form-->

<div class="ng-autocomplete">
  <label class="control-label col-ms-12">Anime Title</label>
  <ng-autocomplete 
    [data]="animeList"
    [searchKeyword]="keyword"
    placeholder="Select anime"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    (inputFocused)='onFocused($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">                                 
  </ng-autocomplete>
  
  <ng-template #itemTemplate let-item>
  <a [innerHTML]="item.name"></a>
  </ng-template>
  
  <ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
  </ng-template>
  </div>

<!--form #f="ngForm" class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit(f)">  
  <div class="form-group">
    <label class="control-label col-ms-12">Titulo do anime</label>
    <input type="text" class="col-ms-12 form-control" formControlName="titulo" [(ngModel)]="searchText">
    <ul class="list-group list-group-flush ul-list" *ngIf="searchText.length > 0">
      <li class="list-group-item"
      *ngFor="let animeName of animeList | appFilter: searchText"
      (click)="selectedAnime(animeName)">
        {{animeName}}
      </li>
    </ul>
  </div>
</form-->

