

<div class="ng-autocomplete">
    <label class="control-label col-ms-12">Anime Title</label>
    <ng-autocomplete 
        [data]="animeList"
        [searchKeyword]="keyword"
        placeholder="Select anime"
        (selected)='selectEvent($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">                                 
    </ng-autocomplete>

    <mat-progress-bar mode="query" *ngIf="animeList.length == 0"></mat-progress-bar>

    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
    </ng-template>
</div>

<div *ngIf="animeFactList.length == 0"
class="border rounded border-info p-2 my-3">
  <p>Anime facts</p>
</div>

<mat-progress-bar mode="query" *ngIf="animeList.length == 0 && animeFactList.length != 0">

</mat-progress-bar>


<div
*ngFor="let result of animeFactList"
class="border rounded border-info p-2 my-3"
>
  <p>{{ result.fact }}</p>
</div>